{
  "env": {
    "node": {
      "presets": [ "es2015" ],
      "plugins": [
        "./babel/add-module-exports",
        "./babel/inject"
      ]
    },
    "cjs": {
      "presets": [ "es2015" ],
      "plugins": [
        "./babel/add-module-exports"
      ]
    },
    "es": {
      "presets": [ "./babel/preset" ]
    }
  }
}
