{
  "env": {
    "node": {
      "presets": [
         [ "@babel/env", { "shippedProposals": true, "targets": { "node": 6 } }]
      ],
      "plugins": [
        "./babel/remove-named-exports",
        "add-module-exports",
        "./babel/inject"
      ]
    },

    "cjs": {
      "presets": [
         [ "@babel/env", { "modules": "commonjs", "shippedProposals": true } ]
      ],
      "plugins": [
        "./babel/remove-named-exports",
        "add-module-exports"
      ]
    },

    "esm": {
      "presets": [
         [ "@babel/env", { "modules": false, "shippedProposals": true } ]
      ]
    },

    "umd": {
      "presets": [
         [ "@babel/env", { "modules": false, "shippedProposals": true } ]
      ],
      "plugins": [
        "./babel/remove-named-exports"
      ]
    }
  }
}
