{
  "root": true,

  "extends": [ "standard", "prettier" ],

  "globals": {
    "globalThis": true
  },

  "rules": {
    "import/no-unresolved": 2,
    "no-unused-vars": 0,
    "no-var": 2,
    "prefer-const": 2
  }
}
